:root {
  --sans-serif: sans-serif;
  --serif: serif;
  --mono: monospace;
  --cursive: cursive;
  --light-mode-text: black;
  --dark-mode-text: white;
  --light-mode-background: white;
  --dark-mode-background: black;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
