:root {
  /* general */
  --sans-serif: sans-serif;
  --serif: serif;
  --mono: monospace;
  --cursive: cursive;
  --purple: #a445ed;
  --sub-text: #757575;
  --search-box: #f4f4f4;
  /* font sizes */
  --headingL: 4rem;
  --headingM: 24px;
  --headingS: 20px;
  --bodyM: 18px;
  --bodyS: 14px;
  /* light mode */
  --light-mode-text: #2d2d2d;
  --light-mode-background: white;
  /* dark mode */
  --dark-mode-text: #fff;
  --dark-mode-background: #050505;
}

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
